
# Configuration du serveur
PORT=3000
NODE_ENV=development

# Configuration de la base de données
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=todo_app
DB_HOST=localhost
DB_PORT=5432

# Niveau de journalisation
LOG_LEVEL=info