# Node
node_modules/
npm-debug.log
package-lock.json

# Environnement
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Divers
.DS_Store


# Fichiers générés par Vagrant
.vagrant/

# Dossiers de dépendances Node.js
node_modules/

# Fichiers de logs
*.log
logs/

# Fichiers temporaires et backups
*.tmp
*.backup

# Fichiers locaux spécifiques (clés SSH, configs, etc.)
id_rsa
id_rsa.pub

# Volume Docker ou fichiers générés par Docker Compose
postgres_data/

# Fichiers spécifiques à l’environnement local
.env


scripts/deploy-kubernetes.sh